<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 https://www.springframework.org/schema/context
 https://www.springframework.org/schema/context/spring-context.xsd">

	<!--this is our bean.....this is basically our metadata for spring container...meaning 
		we have informed spring container about our fields or we can say dependencies... -->
	<!-- 1st bean -->

	<!-- using p schema -->
	<bean class="com.springcore.Student" name="student1"
		p:studentId="159357" p:studentName="Ram Singh"
		p:studentAddress="delhi" />


	<!-- <property name="studentId"> -->
	<!-- <value>23579</value> -->
	<!-- </property> -->

	<!-- <property name="studentName"> -->
	<!-- <value>Maitrey...</value> -->
	<!-- </property> -->

	<!-- <property name="studentAddress"> -->
	<!-- <value>Allahabad</value> -->
	<!-- </property> -->


	<!-- value as a attribute below exaple -->
	<!-- <property name="studentId" value="12365"></property> -->
	<!-- <property name="studentName" value="ram singh"></property> -->
	<!-- <property name="studentAddress" value="Kolkata"></property> -->
	<!-- </bean> -->

	<!-- Second bean -->
	<bean class="com.springcore.Student" name="student2"
		p:studentId="1557" p:studentName="m Singh" p:studentAddress="dilli" />
	<!-- <property name="studentId" value="123758"></property> -->
	<!-- <property name="studentName" value="ramesh singh"></property> -->
	<!-- <property name="studentAddress" value="Berlin"></property> -->
	<!-- </bean> -->

</beans>